
.poke-image {
    width: 27%;
    position: absolute;
    align-items: center;
    top: 128px;
    left: 392px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dex-image {
    width: 60%;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.container-name {
    width: 100%;
    position: static;
}

body {
   background-image: url('../../img/goodbackground.png');
   background-repeat:no-repeat;
   background-size: cover;  
}