
.poke-image {
    width: 32%;
    position: absolute;
    align-items: center;
    top: 129px;
    left: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dex-image {
    width: 70%;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
