
.poke-image {
    width: 60%;
    position: absolute;
    align-items: center;
    top: 137px;
    left: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dex-image {
    width: 130%;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

